<form method="post" action="/user/become-admin">
            <fieldset>
                <legend>Become an admin</legend>
            <div>
            <label for="adminPassword">Enter admin password: (required)</label>
            <input type="password" id="adminPassword" name="adminPassword" required>
            </div>
            </fieldset>
        <div class="button-container">
            <button type="submit">Submit</button>
            <a href="/user/manage-account">Cancel</a>
        </div>
</form>