<form method="post" action="/user/cancel-member">
            <fieldset>
                <legend>Cancel membership</legend>
            <div>
            <label for="cancelMember">Enter 'cancel' to cancel your account: (required)</label>
            <input type="text" id="cancelMember" name="cancelMember" required>
            </div>
            </fieldset>
            <div>
                <button type="submit">Submit</button>
                <a href="/">Cancel</a>
            </div>
</form>