<form method="post" action="/user/cancel-admin">
            <fieldset>
                <legend>Cancel administratorship</legend>
            <div>
            <label for="cancelAdmin">Enter 'cancel admin' to cancel your administratorship: (required)</label>
            <input type="text" id="cancelAdmin" name="cancelAdmin" required>
            </div>
            </fieldset>
            <div class="button-container">
                <button type="submit">Submit</button>
                <a href="/user/manage-account">Cancel</a>
            </div>
</form>