<form method="post" action="/user/delete">
            <fieldset>
                <legend>Delete account</legend>
            <div>
            <label for="deleteAccount">Enter 'delete' to delete your account: (required)</label>
            <input type="text" id="deleteAccount" name="deleteAccount" required>
            </div>
            </fieldset>
            <div class="button-container">
                <button type="submit">Submit</button>
                <a href="/user/manage-account">Cancel</a>
            </div>
</form>