<form method="post" action="/user/membership">
        <fieldset>
            <legend>Which country won the men's soccer world cup in 2006?</legend>
            <div>
                <label for="membershipPassword">Submit your answer to become a member: </label>
                <input type="password" id="membershipPassword" name="membershipPassword" required>
            </div>
        </fieldset>
        <div class="button-container">
                <button type="submit">Submit</button>
                <a href="/user/manage-account">Cancel</a>
        </div>
</form>