<article>
        <div>
            <h2><%= message.title %></h2>
            <span><small>date hidden — members only</small></span>
        </div>
        <div>
            <p><span><small>author hidden — members only</small></span><%= message.text %></p>
        </div>
</article>