<article>
        <div>
            <h2><%= message.title %></h2>
            <span><%= new Date(message.timestamp).toLocaleString() %></span>
        </div>
        <div>
            <p><%= message.first_name %> says: </p>
            <p><%= message.text %></p>
        </div>
</article>
