<article>
        <div>
            <h2 class="title"><%= message.title %></h2>
            <p class="message"><%= message.text %></p>
        </div>
        <div class="message-meta">
            <p><%= message.first_name %></p>
            <span><%= new Date(message.timestamp).toLocaleString() %></span>
        </div>
</article>
