<%- include("./errors.ejs") %>
<form method="post" action="/user/register">
    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" min="1" max="20"  required>
    </div>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" min="1" max="20" required>
    </div>
    <div>
        <label for="email">E-Mail</label>
        <input type="email" id="email" name="email" min="3" max="50" required>
    </div>
    <div>
        <label for="confirmEmail">Confirm E-Mail</label>
        <input type="email" id="confirmEmail" name="confirmEmail" min="3" max="50" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" min="5" required>
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" min="5" required>
    </div>
    <button type="submit">Submit</button>
</form>