<%- include("../partials/head.ejs"); %>
<body>
    <%- include("../partials/header.ejs"); %>
    <%- include("../partials/errors.ejs"); %>
    <main>
        <%- include("../partials/admin_form.ejs"); %>
    </main>
</body>
</html>