<%- include("../partials/head.ejs"); %>
<body>
    <%- include("../partials/header.ejs"); %>
  <main>
    <h2>Messages</h2>
    <%- include("../partials/messages.ejs", { messages }); %>
  </main>
</body>
</html>