<%- include("../partials/head.ejs"); %>
<body>
    <%- include("../partials/header.ejs"); %>
  <main>
    <% if(currentUser) { %>
      <h2>Welcome, <%= currentUser.first_name %></h2>
    <% } %> 
    <h3>Messages</h3>
    <div class="message-container">
        <%- include("../partials/messages.ejs", { messages }); %>
    </div>
  </main>
</body>
</html>